*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
}

html {
    background-color: #f0f0f0;
    background-image: url('../images/wallpaper2.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(37, 33, 33);
  color: darkgoldenrod;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Sevillana", cursive;
}

.back-button:hover {
  background-color: rgb(31, 31, 27);
}

.main_section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.carousel__content {
  padding: 20px;
  height: 600px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.cards_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 1000px;
  --items: 6;
  --midle: 3;
  --position: 1;
  pointer-events: none;
  position: relative;
}

.item {
  position: absolute;
  width: 400px;
  height: 600px;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;

  transform: 
  rotateY(calc(-10deg * var(--r))) 
  translateX(calc(-500px * var(--r))) 
  translateZ(calc(-150px * var(--abs)));
  
  z-index: calc(var(--items) - var(--abs));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item:nth-of-type(1) { --offset: 1; }
.item:nth-of-type(2) { --offset: 2; }
.item:nth-of-type(3) { --offset: 3; }
.item:nth-of-type(4) { --offset: 4; }
.item:nth-of-type(5) { --offset: 5; }
.item:nth-of-type(6) { --offset: 6; }

.pos1 { --position: 1; }
.pos2 { --position: 2; }
.pos3 { --position: 3; }
.pos4 { --position: 4; }
.pos5 { --position: 5; }
.pos6 { --position: 6; }

.navinput {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(31, 31, 27);
  border: none;
  outline: none;
}

.navinput:focus {
  outline: none;
}

.buttons__groups {
  width: 140px;
  display: flex;
  justify-content: space-between;
}

.activeButton {
  width: 20px;
  height: 20px;
  background-color: rgb(48, 48, 56);
  border-radius: 50%;
  border: none;
  outline: none;
}

.activeButton:focus {
  outline: none;
}

.head_card {
  border-radius: 5px;
  padding: 4px;
  height: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
}

.body_card {
  padding: 4px;
  border-radius: 5px;
  height: 80%;
  margin-bottom: 2px;
}

.footer_card {
  color: #fff;
  border-radius: 5px;
  padding: 4px;
  height: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
  .body_card {
    background-size: contain;
    height: 60%;
    padding: 0%;
  }
  .main_section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  html {
    background-image: '../images/wallpaper2.jpg';
    background-size: cover; 
    background-position: center; 
    background-repeat: repeat;
  }
}